@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Times New Roman;
    font-size: 14px;

}

pre{
    white-space: pre-wrap;
}

#container {
    margin: 0px auto;
    width: 800px;
    height: auto;
}

#header {
    height: 75px;
}

#headerNavigationPanel {
    position: relative;
    background: #353C38;
    width: 300px;
    height: 100%;
    float: right;
    color: #ABABAB;
}

#headerNavigationPanel a {
    color: #FFFFFF;
    font-style: italic;
    text-decoration: none;
}

#headerNavigationPanel a:hover {
    text-decoration: underline;
}

#headerNavigationPanel a:visited {
    color: #FFFFFF;
}

#headerNavigationPanel label {
    display: block;
    margin: 3px 5px 0;
    width: 100%;
    height: 20px;
    font-size: 17px;
}

#headerBannerPanel {
    position: relative;
    width: 498px;
    height: 100%;
    float: left;
    background-color: #E0E1E0;
    border-right: 2px solid #BEBCBC;
    background: url(../img/header.png);
    background-size: cover;
}

#headerBannerMessage {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

#navigation {
    height: 35px;
    background: #7D8481;
    position: relative;
}

#navigation a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

#navigation button {
    height: 100%;
    width: 20%;
    text-align: center;
    float: left;
    background: #353C38;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    font-size: medium;
    border: 2px solid #9C9696;
    border-right: 0px solid black;
}

#navigation button:hover {
    background: #666666;
    cursor: pointer;
}

#navigation a:hover {
    text-decoration: underline;
}

#content {
    padding-top: 10px;
    min-height: 500px;

    border-right: 3px solid #CCCECD;
    border-left: 3px solid #CCCECD;
}

#content .paginationBlock{
    margin: 5px auto;
    width:auto;
    height: auto;

    text-align: center;
}

#content .paginationBlock a{
    display: inline-block;
    
    padding: 3px 7px;
    
    font-size: 15px;
        
    color: black;
    text-decoration: none;
    font-family: Arial;
        
}

#content .paginationBlock a:hover{
    text-decoration: underline;
}

#clear {
    clear: both;
}

#footer {
    height: 80px;
    background: #353C38;
    color: #ABABAB;
}

#footer .title {
    margin: 0 10px;
    font-size: 18px;
    font-style: italic;
}

#blogContainer {
    width: 600px;
    height: auto;
    margin: auto;
}

#blogContainer .content_title {
    width: 100%;
    margin: auto;

    font-size: 20px;

    text-align: center;
}

#blogContainer .postPreview {
    width: 550px;
    height: auto;
    margin: 25px auto 0;
}

#blogContainer .postPreview a {
    color: black;
    text-decoration: none;
}

#blogContainer .postPreview a:hover {
    text-decoration: underline;
}

#blogContainer .postPreview .meta {
    margin: 5px 0 0 25px;
    font-size: 14px;
}

#blogContainer .postPreview .meta form{    
    display: inline-block;
}

#blogContainer .postPreview .meta button{
    display: block;
    width: 80px;
    height: 20px;

    border-radius: 1px;
    border: 1px solid #a9a9c7;
    font-size: 14px;    

    color: #555;
    background: #b5d6e6;
    cursor: pointer;
    outline: none;
}

#blogContainer .postPreview .meta button:hover{
    background: #72bbe0;
    color: snow;
}

#blogContainer .postPreview .title {
    display: block;
    width: 100%;
    margin: 0 10px 0 0px;

    font-size: 22px;

    font-style: italic;
    word-wrap: break-word;
    text-align: center;
}

#blogContainer .postPreview .content {
    font-size: 14px;
    word-wrap: break-word;
    margin: 0px 25px;
    text-align: left;
}

#blogContainer .postPreview .date {
    display: block;
    float: right;
    margin: 0 10px 0 0;
    font-size: 12px;
}





#searchForm {
    width: 450px;
    height: auto;
    margin: auto;
    padding: 10px 20px;

    border: 1px solid #B7C7F5;
    border-radius: 3px;

    background: lavender;
}

#searchForm .title {
    font-size: 20px;
    font-style: italic;
}

#searchForm .settings {
    margin-top: 5px;
    height: 25px;
}

#searchForm .settings .setting {
    float: left;
    width: auto;
    margin: 0 30px 0 0;
}

#searchForm .settings .setting label {
    font-size: 16px;
    cursor: pointer;
}

#searchForm .settings .setting input {
    vertical-align: middle;
}

#searchForm .submit {
    width: 100%;
    height: 25px;
    margin-top: 10px;
}

#searchForm .submit input {
    float: left;
    width: 340px;
    height: 23px;

    border: 1px solid #B7C7F5;
}

#searchForm .submit button {
    display: block;
    width: 80px;
    height: 23px;

    border-radius: 1px;
    border: 1px solid #a9a9c7;
    font-size: 14px;    

    color: #555;
    background: #b5d6e6;
    cursor: pointer;
    outline: none;
}

#searchForm .submit button:hover {
    background: #72bbe0;
    color: snow;
    cursor: pointer;
}



#resultsContainer {
    width: 100%;
    height: auto;
}

#resultsContainer .header {
    font-size: 20px;
    font-style: italic;
    margin: 5px;
}

#resultsContainer table {
    width: 100%;
    border-width: 1px;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}

#resultsContainer th, #resultsContainer td {
    border-style: solid;
    border-width: 1px;
}

#resultsContainer .tdContent {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#resultsContainer .tdContent a {
    color: black;
    text-decoration: none;
}

#resultsContainer .tdContent a:hover {
    text-decoration: underline;
}

#resultsContainer .thTitle {
    width: 60%;
}

#resultsContainer .thAuthor {
    width: 20%;
}

#resultsContainer .thDate {
    width: 20%;
}

#resultsContainer .thTitle, .thAuthor, .thDate {
    padding: 2px 2px;
    background: #A9A0A0;
}

#resultsContainer .title {
    width: 60%;
    background: #B8B8B8;
}

#resultsContainer .author {
    width: 20%;
    background: #BBBAB7;
    text-align: center;
}

#resultsContainer .author button {
    background: #A5A5A4;
    border: 1px solid black;
    width: 70px;
    font-size: 15px;
    padding: 0px;
    display: inline;
}

#resultsContainer .author button:hover {
    border: 1px solid #000000;
    background: #97999A;
    color: #FFF;
    cursor: pointer;
}

#resultsContainer .author button:active {
    border: 1px solid black;
}

#resultsContainer .date {
    width: 15%;
    background: #B8B5B8;
    text-align: center;
}

#resultsContainer .title, .author, .date {
    padding: 5px 5px;
}



#writePostForm {
    margin: auto;
    width: 710px;
    height: auto;

}

#writePostForm .title {    
    font-size: 18px;
    font-style: italic;
    display: block;
    text-align: center;
}

#writePostForm .inputTitle {
    margin: 5px 0;
    font-size: 16px;
    font-style: normal;
    display: block;
}

#writePostForm .titleTextArea {
    width: 700px;
    height: 65px;
    padding: 5px;

    border: 1px solid #9C9696;
    border-radius: 3px;
    font-size: 16px;
}

#writePostForm .contentTextArea {
    width: 700px;
    height: 300px;
    padding: 5px;

    font-size: 14px;
    border: 1px solid #9C9696;
}

#writePostForm .errorMessage {
    margin: 5px 0px;
    display: block;
    color: #EC1919;
}

#writePostForm button {
    display: block;    
    width: 80px;
    height: 25px;

    border-radius: 1px;
    border: 1px solid #a9a9c7;
    font-size: 16px;    

    color: #555;
    background: #b5d6e6;
    cursor: pointer;
    outline: none;
}

#writePostForm button:hover {
    background: #72bbe0;
    color: snow;
}


#userInfo {
    width: 450px;
    height: auto;
    margin: auto;
    padding: 10px 10px 2px 10px;

    border: 3px double #9C9696;
    border-radius: 3px;

    color: #454545;
}

#userInfo .field {
    display: block;
    font-size: 16px;
    margin: 3px;
}

#userInfo .centerField {    
    display: block;    
    margin: 3px;

    font-size: 16px;

    text-align: center;
}

#userInfo .aboutArea {
    width: 100%;
    height: 60px;
    padding: 3px;
    font-family: Tahoma, sans-serif;
    border: 1px solid #080808;
}

#userInfo button {
    display: block;    
    width: 100px;
    height: 25px;    

    border-radius: 1px;
    border: 1px solid #a9a9c7;
    font-size: 16px;    

    color: #555;
    background: #b5d6e6;
    cursor: pointer;
    outline: none;
}

#userInfo button:hover {
    background: #72bbe0;
    color: snow;
}



#postContainer {
    width: 700px;
    height: auto;

    margin: auto;
    padding: 20px;
}

#postContainer .authorField {
    width: auto;
    float: left;
    font-size: 14px;
}

#postContainer .nickname {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#postContainer a:hover {
    text-decoration: underline;
}

#postContainer .postDate {
    float: right;
    width: auto;

    font-size: 14px;
}

#postContainer .postTitle {
    float: left;
    width: 100%;
    height: auto;
    font-size: 20px;
    word-wrap: break-word;
    text-align: center;
}

#postContainer .postContent {
    float: right;
    width: 100%;
    height: auto;
    font-size: 15px;
    word-wrap:break-word;
    margin: 10px 0px;    
}

#postContainer .removeForm{
    float: right;
}

#postContainer .afterPostInfo{
    margin: 5px 0px;

    font-size: 15px; 
    font-style: italic;
}

#commentContainer{
    width: 700px;
    height: auto;

    margin: auto;
    padding: 0px 20px;

}

#commentContainer .addCommentForm {
    width: 100%;   
    height: auto;
    margin: 10px 0px;
    display: inline-block;

    border-radius: 3px;
    border: 1px solid #B7C7F5;

    background: lavender;
}

#commentContainer .addCommentForm .avatarBlock{
    float: left;
    width: 70px;
    height: 70px;    
}

#commentContainer .addCommentForm .avatarBlock img{
    padding: 5px;
    width: 60px;
    height: 60px;
}

#commentContainer .addCommentForm textarea{
    display: block;
    width: 625px;
    height: 60px;        
    margin: 5px 0px 0px 70px;
    padding: 5px;

    border: 1px solid gainsboro;    
    font-size: 12px;
}

#commentContainer .addCommentForm button{
    display: block;
    margin-left: 70px;
    width: 80px;
    height: 25px;

    border-radius: 1px;
    border: 1px solid #a9a9c7;
    font-size: 16px;    

    color: #555;
    background: #b5d6e6;
    cursor: pointer;
    outline: none;
}

#commentContainer .addCommentForm button:hover{
    background: #72bbe0;
    color: snow;
}


#commentContainer .title{
    width: 100%;
    border-bottom: 2px solid  #CCCECD;

    font-size: 20px;
}

#commentContainer .commentArea{
    display: inline-block;
    margin: 10px 0px;
    height: auto;

    border: 1px solid #CCCECD;   

    background: #F1F2F9;
}

#commentContainer .commentArea .avatarBlock{
    float: left;
    width: 70px;
    height: 70px;
}

#commentContainer .commentArea .avatarBlock img{
    padding: 5px;
    width: 60px;
    height: 60px;
}
#commentContainer .commentArea .commentBlock{
    margin-left: 70px;
    width: 630px;

}

#commentContainer .commentArea .commentBlock .meta{
    width: 100%;
    margin-top: 5px;   

    font-size: 14px;
}

#commentContainer .commentArea .commentBlock .meta a{
    font-weight: bold;
    color: #027061;
    text-decoration: none;
}

#commentContainer .commentArea .commentBlock .meta a:hover{
    text-decoration: underline;
}

#commentContainer .commentArea .commentBlock .content{
    margin: 5px 0px;
    width: 100%;
    height: auto;    

    font-size: 15px;    

    word-wrap: break-word;
}

#commentContainer .commentArea .removeForm{
    float:right;
}


#adminContentTitle {
    font-size: 20px;
    margin: auto;
    text-align: center;
}

textarea {
    resize: none;
}
